body {background-color: #C0C0C0;
		margin: 0 auto;
		text-align: left;
		font-family: "Times New Roman";
}


h1 { color: #008000;
	font-family: papyrus;
	font-size: 300%;}

img {max-width: 50%; height: auto;}